certifi==2017.7.27.1
chardet==3.0.4
configobj==5.0.6
idna==2.6
Jinja2==2.9.6
jsonpatch==1.16
jsonpointer==1.10
Markdown==2.6.8
MarkupSafe==1.0
oauth==1.0.1
prettytable==0.7.2
PyYAML==3.12
requests==2.18.4
shadowsocks==2.8.2
six==1.10.0
urllib3==1.22